{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- banner -->
{{ if $data.accueil.banniere.enable }}
{{ with $data.accueil.banniere }}
<section class="slider {{if .bg_overlay}}overly{{end}}" style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <!--<h1>{{ .title | markdownify }}</h1>-->
          <h1b>{{ .titre | markdownify }}</h1b>
          <h1t>{{ .soustitre | markdownify }}</h1t>
          <p>{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" class="btn btn-main animated fadeInUp">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner -->

{{ if $data.accueil.paragraphe1.enable }}
{{ with $data.accueil.paragraphe1 }}
<!-- about -->
<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2 style="font-size:20px;">{{ .title | markdownify }}</h2>
            <!--<p>{{ .description | markdownify }}</p>-->
          </div>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{ .image | relURL }}" class="img-responsive" alt="Img">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
{{ end }}
{{ end }}

{{ if $data.accueil.pourquoi.enable }}
{{ with $data.accueil.pourquoi }}
<section class="pourquoi-table section bg-gray">
  <div class="container">
    <div class="row">
      <div class="pourquoi-grostitle">
        <h2>{{ .pourquoi_titre | markdownify }}</h2>
      </div>
      <!-- single pourquoi table -->
      {{ range .pourquoi_table }}
      <a  href="{{ .link | safeURL }}">
      <div class="col-md-4 col-sm-7 col-xs-8">
        <div class="pourquoi-item text-center">
          <div class="block">
            <img src="{{ .bg_image | relURL }}" class="img-responsive" alt="Img">
          </div>
          <div class="pourquoi-title">
            <h3>{{ .titre }}</h3>
          </div>
          <a class="btn btn-small" href="{{ .link | safeURL }}">En savoir +</a>
        </div>
      </div>
      </a>
      {{ end }}
      <!-- end single pricing table -->
    </div>
  </div>
</section>
{{ end }}
{{ end }}


{{ if $data.accueil.paragraphe2.enable }}
{{ with $data.accueil.paragraphe2 }}
<!-- portfolio -->
<section class="feature bg-2" style="background-image: url('{{ .bg_image | absURL}}')">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2 class="section-subtitle">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | relLangURL }}" class="btn btn-small animated fadeInUp">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->
{{ end }}
{{ end }}


{{ end}}


