$light: #fff;
$lightgrey: #ccc;
/*
$primary-color: #655E7A;
$secondary-color: #1bbb1b;
*/
$primary-color: #D79164;
$secondary-color: #1bbb1b;
$secondary-color: #D79164;
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Roboto', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';
$marionclair-font: 'Amiri', serif;
