.service {
  text-align: center;
  padding: 50px 0;

  .service-item {
    padding-bottom: 30px;

    ion-icon {
      font-size: 50px;
      color: $primary-color;

    }
    
    ion-icon.visible{
        display:inline-block;
    }
    ion-icon.hover{
        display: none;
    }

    h4 {
        padding: 15px ;//30px 0px 30px;
      //padding-top: 15px;
      margin: 0;
      font-weight: 500;
      text-transform: uppercase;
      font-size:15px;
    }

    p {
        padding: 10px ;//30px 0px 30px;;
        margin: 0;
    }
  }
  
  .service-item:hover{
      ion-icon.hover{
          display:inline-block;
      }
      ion-icon.visible{
          display:none;
      }
      h4{
          font-weight:600;
      }
  }
}

.dark-service {
  padding: 10px 0;
  margin-top:-50px;
  
  .title {
      color: $light;
    h2 {
        font-weight:400;
        letter-spacing: 2px;
        word-spacing:5px;
        font-size:22px;
    }
  }
  

  .service-item {
    padding-bottom: 30px;
    text-align: center;

    ion-icon {
        font-size: 50px;
        padding-top:10px;
        padding-bottom:10px;
        --ionicon-stroke-width: 20px;
      color: $light;
    }
    
    ion-icon.visible{
        display:inline-block;
    }
    ion-icon.hover{
        display: none;
    }

    h4 {
      color: $light;
      padding-top: 25px;
      margin: 0;
      font-weight: 400;
      text-transform: uppercase;
    }

    p {
      padding-top: 15px;
      margin: 0;
      color: $light;
    }


  }

  .service-item:hover{
      ion-icon.hover{
          display:inline-block;
      }
      ion-icon.visible{
          display:none;
      }
      h4{
          font-weight:600;
      }
  }
}

.service-about {
  p {
    line-height: 28px;
    text-align:justify;
  }
}





.service-arrow {
  .block {
    padding: 70px 30px;

    i {
      font-size: 40px;
    }

    p {
      color: $light;
    }
  }
}




.service-list {
  .block {
    padding: 30px;
    margin-bottom: 20px;
    background: $light;
  }
}
